*.pt     filter=lfs diff=lfs merge=lfs -text
*.bin    filter=lfs diff=lfs merge=lfs -text
*.onnx   filter=lfs diff=lfs merge=lfs -text
kogpt_finetuned/*       filter=lfs diff=lfs merge=lfs -text
chatbot/sbert_finetuned/* filter=lfs diff=lfs merge=lfs -text
chatbot/sbert_finetuned/model.safetensors filter=lfs diff=lfs merge=lfs -text
